{
	"extends": ["airbnb"],
	"env":
	{
    "es6": true,
    "jest": true
	},
	"parser": "babel-eslint",
	"rules":
	{
    "react/jsx-filename-extension": "off",
    "react/no-typos": "off",
    "react/forbid-prop-types": "off",
    "arrow-parens": "off",
    "brace-style": ["error", "allman"],
    "func-names": "off",
    "react/destructuring-assignment": "off",
    "linebreak-style": "off"
	}
}